results/
DataOLD/
data_old/
Data/
DataNew/
Files/
DatadataIn/
__pycache__/
latent_variable_jason_work/
build/
data/
.ipynb_checkpoints/
.Rhistory
.RData
.RDataTmp
.png
.txt
.pyd 
.c
.cpp
.exe 
.dll 
.obj